---
Language: Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: MultiLine

# AttributeMacros only work wtih macros that do not take parameters.
# HSE attribute macros that take parameters work better as TypenameMacros
# because clang-format assumes they have parameters.
AttributeMacros:
 - HSE_ALWAYS_INLINE
 - HSE_COLD
 - HSE_CONST
 - HSE_HOT
 - HSE_MAYBE_UNUSED
 - HSE_NOINLINE
 - HSE_NORETURN
 - HSE_PACKED
 - HSE_READ_MOSTLY
 - HSE_RETURNS_NONNULL
 - HSE_SENTINEL
 - HSE_USED
 - HSE_WARN_UNUSED_RESULT
 - HSE_WEAK

# Treating function attribute macros that take parameters as TypenameMacros
# helps format function declarations that use them.
TypenameMacros:
 - HSE_NONNULL
 - HSE_PRINTF
 - HSE_ALIGNED

ForEachMacros:
 - cds_list_for_each
 - cds_list_for_each_entry_rcu
 - cds_list_for_each_entry_reverse
 - cds_list_for_each_entry_safe
 - cds_list_for_each_entry_safe_from
 - cds_list_for_each_prev
 - cds_list_for_each_prev_safe
 - cds_list_for_each_safe
 - cn_tree_foreach_leaf
 - cn_tree_foreach_leaf_safe
 - cn_tree_foreach_node
 - kmc_chunk_foreach
 - kmc_slab_foreach
 - kmc_zone_foreach
 - list_for_each
 - list_for_each_entry
 - list_for_each_entry_reverse
 - list_for_each_entry_reverse_safe
 - list_for_each_entry_safe
 - rbtree_postorder_for_each_entry_safe
 - s_list_for_each
 - s_list_for_each_entry
 - s_list_for_each_entry_safe
 - s_list_for_each_safe
 - STAILQ_FOREACH
 - TAILQ_FOREACH
 - TAILQ_FOREACH_REVERSE
BinPackArguments: true
BinPackParameters: false
BitFieldColonSpacing: Both
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: false
BreakInheritanceList: AfterColon
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: AfterColon
BreakAfterJavaFieldAnnotations: false
BreakStringLiterals: false
ColumnLimit: 100
CommentPragmas: '^ IWYU pragma:'
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
DeriveLineEnding: true
DerivePointerAlignment: false
DisableFormat: false
EmptyLineBeforeAccessModifier: Always
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
 - Regex:           '^[<"]build_config.h'
   Priority:        1
 - Regex:           '^<hse/test/'  # Test support
   Priority:        13
 - Regex:           '^<hse/tools/' # Tool support
   Priority:        12
 - Regex:           '^<hse/.+/'    # Internal files
   Priority:        11
 - Regex:           '^<hse/'       # Public API files
   Priority:        10
 - Regex:           '^"'           # Local files
   Priority:        20
 - Regex:           '^<.*/'        # Non-HSE and System includes
   Priority:        3
 - Regex:           '^<'           # Non-HSE and System includes
   Priority:        2
 - Regex:           '.'            # Everything else
   Priority:        100

# Seems to be no way to disable the "IncludeIsMain" settings,
# so we set them to patterns we don't expect to see.
IncludeIsMainRegex: 'XYZ'

IndentCaseLabels: false
IndentCaseBlocks: false
IndentGotoLabels: true
IndentPPDirectives: None
IndentExternBlock: AfterExternBlock
IndentRequires: true
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertTrailingCommas: None
JavaScriptQuotes: Leave
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: true
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 2
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PenaltyIndentedWhitespace: 0
PointerAlignment: Right
ReflowComments: false
SortIncludes: CaseSensitive
SortJavaStaticImport: Before
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceAroundPointerQualifiers: Both
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
Standard: Latest
TabWidth: 4
UseCRLF: false
UseTab: Never
...
