---
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-valist.Uninitialized,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-diagnostic-unused-function
FormatStyle: none
