# SPDX-License-Identifier: Apache-2.0 OR MIT
#
# SPDX-FileCopyrightText: Copyright 2022 Micron Technology, Inc.

# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-valist.Uninitialized,
  -clang-diagnostic-unused-function
WarningsAsErrors: >
  clang-analyzer-core.CallAndMessage,
  clang-analyzer-core.NonNullParamChecker,
  clang-analyzer-unix.cstring.NullArg
FormatStyle: none
