# SPDX-License-Identifier: Apache-2.0 OR MIT
#
# SPDX-FileCopyrightText: Copyright 2021 Micron Technology, Inc.

* text=auto

# https://github.com/github/linguist/blob/master/docs/overrides.md

hse.conf           linguist-language=JSON
kvdb.conf          linguist-language=JSON
kvdb.meta          linguist-language=JSON
kvdb.pid           linguist-language=JSON
*.subr             linguist-language=Shell
subprojects/*.wrap linguist-language=INI
