*~
TAGS
GPATH
GRTAGS
GTAGS
GTAGS.*
cscope.*
*.gcov
*.prof
*.out
__pycache__
.ipynb_checkpoints
*.pyc
Untitled*.ipynb
.test_vm
.ktest_vm
bull.cov
.tramp_history
*.swp
\#*
.#*
subprojects/*
!subprojects/*.wrap
!subprojects/packagefiles
!subprojects/crc32c
!subprojects/db_bench
!subprojects/hyperloglog
!subprojects/rbtree
!subprojects/xoroshiro
*build*/
!scripts/build/
.pytest_cache/
*venv*/
compile_commands.json
/.cache/
