# SPDX-License-Identifier: Apache-2.0 OR MIT
#
# SPDX-FileCopyrightText: Copyright 2021 Micron Technology, Inc.

disable=SC2001
disable=SC2016
disable=SC2119
disable=SC2250
disable=SC2292
disable=SC2311
disable=SC2312
